.sidebar-item {
  padding: 5%;
  margin-top: 5%;
  cursor: pointer;
  display: grid;
  align-content: center;
  border-radius: 0.50rem;
  max-width: 100%;
  position: relative;

}

.sidebar-item:hover {
  background-color: $primary;
  color: #fff;
  font-weight: bold;
}
.mobile {
  display: none;
}

@media screen and (max-width: 700px) {

  .sidebar-item .icon {
    display: grid;
    align-content: center;
  }

}