.sidebar-item {
  padding: 5%;
  margin-top: 5%;
  cursor: pointer;
  display: grid;
  align-content: center;
  border-radius: 0.5rem;
  max-width: 100%;
  position: relative;
}
.tag-container {
  width: 100%;
  padding-left: 5%;
  margin-top: 5%;
  display: grid;
  align-content: center;
  border-radius: 0.5rem;
  max-width: 100%;
  position: relative;

  .icon {
    display: inline;
    cursor: pointer;
  }
}
.tag-text {

  display: inline;
  cursor: text;
}
.react-colorful {
  height: 240px;
}
.tag-input {
  border: none;
  outline: none;
  display: inline;
  width: 60%;
  font-size: medium;
}
.sidebar-item:hover {
  background-color: $primary;
  color: #fff;
  font-weight: bold;
}
.mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .sidebar-item .icon {
    display: grid;
    align-content: center;
  }
}
