@charset "utf-8";

$primary: rgb(0, 150, 199);


* {
  margin: 0;
  padding: 0;
}



.content-close{
  height: 100vh;
  margin-left: 200px;
  padding: 5%;
}
.content-open{
  height: 100vh;
  margin-left: 0;
  padding: 5%;
}



/**bulma**/
@import "../node_modules/bulma/bulma.sass";

/*Sidebar*/
@import "../src/css/sidebar.scss";
@import "../src/css/sidebar-item.scss";